USE [master]
GO
/****** Object:  Database [QUANLYBANLE]    Script Date: 5/2/2026 12:23:20 PM ******/
CREATE DATABASE [QUANLYBANLE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYBANLE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYBANLE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYBANLE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYBANLE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYBANLE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYBANLE]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](15) NOT NULL,
	[TENSP] [nvarchar](300) NULL,
	[MAVACH] [nvarchar](128) NULL,
	[MOTA] [nvarchar](max) NULL,
	[MADANHMUC] [char](15) NULL,
	[DONGIA] [float] NULL,
	[THUOCTINH] [nvarchar](max) NULL,
	[THUEVAT] [float] NULL,
	[SOLUONGTON] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HDB]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HDB](
	[MAHDBAN] [char](15) NOT NULL,
	[MASP] [char](15) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDBAN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_CT_HDB]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_CT_HDB] AS
SELECT ct.MAHDBAN,
       ct.MASP,
       sp.TENSP,
       ct.SOLUONG,
       ct.DONGIA,
       ct.TONGTIEN
FROM CT_HDB ct
LEFT JOIN SANPHAM sp ON sp.MASP = ct.MASP;
GO
/****** Object:  Table [dbo].[CHITIETNHAP]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAP](
	[MAPHIEUNHAP] [char](15) NOT NULL,
	[MASP] [char](15) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIANHAP] [float] NULL,
	[THANHTIEN] [float] NULL,
	[NGAYNHAPKHO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADANHMUC] [char](15) NOT NULL,
	[TENDANHMUC] [nvarchar](200) NULL,
	[MOTA] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONBAN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBAN](
	[MAHDBAN] [char](15) NOT NULL,
	[MANV] [char](15) NULL,
	[MAKH] [char](15) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIENHANG] [float] NULL,
	[THUEVAT] [float] NULL,
	[GIAMGIA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](15) NOT NULL,
	[TENKH] [nvarchar](100) NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [char](15) NOT NULL,
	[TENKM] [nvarchar](300) NULL,
	[MASP] [char](15) NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [char](15) NOT NULL,
	[TENNCC] [nvarchar](300) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[SDT] [varchar](12) NULL,
	[EMAIL] [nvarchar](320) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](15) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPKHO]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPKHO](
	[MAPHIEUNHAP] [char](15) NOT NULL,
	[MASP] [char](15) NULL,
	[MANCC] [char](15) NULL,
	[MANV] [char](15) NULL,
	[NGAYLAP] [datetime] NULL,
	[THUEVAT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATAIKHOAN] [char](15) NOT NULL,
	[USERNAME] [char](20) NULL,
	[PASS] [char](20) NULL,
	[QUYEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[MATHANHTOAN] [char](15) NOT NULL,
	[MAHDBAN] [char](15) NULL,
	[PHUONGTHUC] [nvarchar](50) NULL,
	[SOTIENTHANHTOAN] [float] NULL,
	[NGAYTHANHTOAN] [datetime] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHANHTOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [THUEVAT]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [SOLUONGTON]
GO
ALTER TABLE [dbo].[CT_HDB]  WITH CHECK ADD FOREIGN KEY([MAHDBAN])
REFERENCES [dbo].[HOADONBAN] ([MAHDBAN])
GO
ALTER TABLE [dbo].[CT_HDB]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETNHAP]  WITH CHECK ADD FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAPKHO] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETNHAP]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAI_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [FK_KHUYENMAI_SANPHAM]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_DANHMUC] FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUC] ([MADANHMUC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_DANHMUC]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD FOREIGN KEY([MAHDBAN])
REFERENCES [dbo].[HOADONBAN] ([MAHDBAN])
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [CK_KHUYENMAI_DATE] CHECK  (([NGAYKETTHUC]>=[NGAYBATDAU]))
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [CK_KHUYENMAI_DATE]
GO
/****** Object:  StoredProcedure [dbo].[SP_CAPNHAT_TRANGTHAI_THANHTOANTHANHCONG]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_CAPNHAT_TRANGTHAI_THANHTOANTHANHCONG]
    @MaHDBan    NVARCHAR(10),
    @PhuongThuc NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.THANHTOAN WHERE MAHDBAN = @MaHDBan)
    BEGIN
        UPDATE dbo.THANHTOAN
        SET TRANGTHAI = N'Đã thanh toán',
            PHUONGTHUC = @PhuongThuc,
            SOTIENTHANHTOAN = (
                SELECT TOP (1) (TONGTIENHANG)
                FROM dbo.HOADONBAN
                WHERE MAHDBAN = @MaHDBan
            ),
            NGAYTHANHTOAN = GETDATE()
        WHERE MAHDBAN = @MaHDBan;

        PRINT N'Cập nhật trạng thái, phương thức, số tiền và ngày thanh toán thành công!';
    END
    ELSE
    BEGIN
        PRINT N'Hóa đơn không tồn tại trong bảng THANHTOAN!';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_DANGNHAP]
    @USERNAME VARCHAR(50),
    @PASS     VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MATAIKHOAN, USERNAME, QUYEN
    FROM TAIKHOAN
    WHERE USERNAME = @USERNAME AND PASS = @PASS;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_THANHTOAN_BY_MAHDBAN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_GET_THANHTOAN_BY_MAHDBAN]
    @MAHDBAN VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT MaThanhToan,
           MaHDBan,
           PhuongThuc,
           SoTienThanhToan,
           NgayThanhToan,
           TrangThai
    FROM THANHTOAN
    WHERE MaHDBan = @MAHDBAN;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETBYIDCHITIETNHAP]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_GETBYIDCHITIETNHAP] 
    @MAPHIEUNHAP CHAR(15), 
    @MASP CHAR(15)
AS
BEGIN
  SET NOCOUNT ON;
  SELECT MAPHIEUNHAP, MASP, SOLUONG, DONGIANHAP, THANHTIEN, NGAYNHAPKHO
  FROM CHITIETNHAP
  WHERE MAPHIEUNHAP=@MAPHIEUNHAP AND MASP=@MASP;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDKM]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetByIDKM](@MAkm CHAR(15))
AS
BEGIN
    SELECT * FROM KHUYENMAI WHERE 
        MAkm = @MAkm
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDKhachHang]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[sp_GetByIDKhachHang](@MAKH CHAR(15))
AS
BEGIN
    SELECT MaKH, TenKH, SDT, DiaChi
    FROM KHACHHANG
    WHERE 
        MaKH = @MaKH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDNhaCungCap]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetByIDNhaCungCap](@MANCC CHAR(15))
AS
BEGIN
    SELECT MaNCC, TENNCC, DiaChi, SDT, EMAIL
    FROM NHACUNGCAP
    WHERE 
        MANCC = @MANCC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETBYIDNHANVIEN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_GETBYIDNHANVIEN]
    @MANV CHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MANV, TENNV, SDT, DIACHI
    FROM NHANVIEN
    WHERE MANV = @MANV;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETBYIDPHIEUNHAPKHO]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_GETBYIDPHIEUNHAPKHO] @MAPHIEUNHAP CHAR(15)
AS
BEGIN
  SET NOCOUNT ON;
  SELECT MAPHIEUNHAP, MASP, MANCC, MANV, NGAYLAP, THUEVAT
  FROM PHIEUNHAPKHO WHERE MAPHIEUNHAP=@MAPHIEUNHAP;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETBYIDTAIKHOAN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_GETBYIDTAIKHOAN]
    @MATAIKHOAN CHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MATAIKHOAN, USERNAME, PASS, QUYEN
    FROM TAIKHOAN
    WHERE MATAIKHOAN = @MATAIKHOAN;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDTT]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetByIDTT](@MATHANHTOAN CHAR(15))
AS
BEGIN
    SELECT * FROM THANHTOAN WHERE 
        MATHANHTOAN = @MATHANHTOAN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETCHITIETNHAP]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_GETCHITIETNHAP]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT MAPHIEUNHAP, MASP, SOLUONG, DONGIANHAP, THANHTIEN, NGAYNHAPKHO
  FROM CHITIETNHAP;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETCHITIETNHAP_BYPN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_GETCHITIETNHAP_BYPN] @MAPHIEUNHAP CHAR(15)
AS
BEGIN
  SET NOCOUNT ON;
  SELECT MAPHIEUNHAP, MASP, SOLUONG, DONGIANHAP, THANHTIEN, NGAYNHAPKHO
  FROM CHITIETNHAP WHERE MAPHIEUNHAP=@MAPHIEUNHAP;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetKhachHang]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetKhachHang]
AS
BEGIN
    SELECT MaKH, TenKH, SDT, DiaChi
    FROM KHACHHANG
    WHERE 
        MaKH IS NOT NULL AND MaKH <> ''
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetKhuyenMai]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetKhuyenMai]
AS
BEGIN
    SELECT * FROM KHUYENMAI
    WHERE 
        MAKM IS NOT NULL AND MAKM <> ''
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNhaCungCap]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetNhaCungCap]
AS
BEGIN
    SELECT MANCC, TENNCC, DIACHI, SDT, EMAIL
    FROM NHACUNGCAP
    WHERE 
        MANCC IS NOT NULL AND MANCC <> ''
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETNHANVIEN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_GETNHANVIEN]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MANV, TENNV, SDT, DIACHI
    FROM NHANVIEN;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETPHIEUNHAPKHO]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_GETPHIEUNHAPKHO]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT MAPHIEUNHAP, MASP, MANCC, MANV, NGAYLAP, THUEVAT FROM PHIEUNHAPKHO;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETTAIKHOAN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_GETTAIKHOAN]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MATAIKHOAN, USERNAME, PASS, QUYEN
    FROM TAIKHOAN;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetThanhToan]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetThanhToan]
AS
BEGIN
    SELECT * FROM THANHTOAN
    WHERE 
        MATHANHTOAN IS NOT NULL AND MATHANHTOAN <> ''
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_HOADON_CHUA_THANHTOAN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_LAY_HOADON_CHUA_THANHTOAN]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        H.MAHDBAN AS MaHoaDon,
        K.TENKH AS TenKhachHang,
        K.SDT AS SoDienThoai,
        H.NGAYLAP AS NgayLap,
        (H.TONGTIENHANG + H.THUEVAT - H.GIAMGIA) AS SoTienPhaiTra,
        ISNULL(T.TRANGTHAI, N'Chưa thanh toán') AS TrangThai
    FROM HOADONBAN H
        INNER JOIN KHACHHANG K ON H.MAKH = K.MAKH
        LEFT JOIN THANHTOAN T ON H.MAHDBAN = T.MAHDBAN
    WHERE ISNULL(T.TRANGTHAI, N'Chưa thanh toán') = N'Chưa thanh toán';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_HOADON_CHUA_THANHTOAN_THEO_TENKH]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_LAY_HOADON_CHUA_THANHTOAN_THEO_TENKH]
    @TenKhachHang NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON

    SELECT 
        H.MAHDBAN AS MaHoaDon,
        K.TENKH AS TenKhachHang,
        K.SDT AS SoDienThoai,
        H.NGAYLAP AS NgayLap,
        (H.TONGTIENHANG + H.THUEVAT - H.GIAMGIA) AS SoTienPhaiTra,
        ISNULL(T.TRANGTHAI, N'Chưa thanh toán') AS TrangThai
    FROM HOADONBAN H
        INNER JOIN KHACHHANG K ON H.MAKH = K.MAKH
        LEFT JOIN THANHTOAN T ON H.MAHDBAN = T.MAHDBAN
    WHERE ISNULL(T.TRANGTHAI, N'Chưa thanh toán') = N'Chưa thanh toán'
          AND K.TENKH LIKE N'%' + @TenKhachHang + N'%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RESET_SOTIENTHANHTOAN_BY_MAHDBAN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RESET_SOTIENTHANHTOAN_BY_MAHDBAN]
    @MAHDBAN   VARCHAR(20),
    @SoTienMoi MONEY = 0
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.THANHTOAN
    SET SoTienThanhToan = @SoTienMoi
    WHERE MAHDBAN = @MAHDBAN;


    SELECT @@ROWCOUNT AS RowsAffected;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_SUACHITIETNHAP]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_SUACHITIETNHAP]
  @MAPHIEUNHAP CHAR(15), @MASP CHAR(15), @SOLUONG INT,
  @DONGIANHAP FLOAT, @NGAYNHAPKHO DATETIME
AS
BEGIN
  SET NOCOUNT ON;
  DECLARE @THANHTIEN FLOAT = @SOLUONG * @DONGIANHAP;
  UPDATE CHITIETNHAP
  SET SOLUONG=@SOLUONG, DONGIANHAP=@DONGIANHAP, THANHTIEN=@THANHTIEN, NGAYNHAPKHO=@NGAYNHAPKHO
  WHERE MAPHIEUNHAP=@MAPHIEUNHAP AND MASP=@MASP;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUAKM]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_SUAKM](
    @MAKM CHAR(15),
    @TENKM NVARCHAR(300),
    @MASP CHAR(15),
    @NGAYBATDAU DATE,
    @NGAYKETTHUC DATE)
AS
BEGIN
    IF(NOT EXISTS(SELECT * FROM KHUYENMAI WHERE MAKM = @MAKM)) 
        RETURN -1
    IF(EXISTS(SELECT * FROM KHUYENMAI WHERE MAKM= @MAKM))
    UPDATE KHUYENMAI SET TENKM = @TENKM, MASP = @MASP, NGAYBATDAU = @NGAYBATDAU, NGAYKETTHUC = @NGAYKETTHUC 
    WHERE MAKM = @MAKM
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUAKH]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_SUAKH](
    @MAKH CHAR(15),
    @TENKH NVARCHAR(100),
    @SDT CHAR(10),
    @DIACHI NVARCHAR(300))
AS
BEGIN
    IF(NOT EXISTS(SELECT * FROM KHACHHANG K WHERE K.MAKH = @MAKH)) 
        RETURN -1
    IF(EXISTS(SELECT * FROM KHACHHANG K WHERE K.MAKH = @MAKH))
    UPDATE KHACHHANG SET TENKH = @TENKH, SDT = @SDT, DIACHI = @DIACHI 
    WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUANCC]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_SUANCC](
    @MANCC CHAR(15),
    @TENNCC NVARCHAR(300),
    @DIACHI NVARCHAR(500),
    @SDT VARCHAR(12),
    @EMAIL NVARCHAR(320))
AS
BEGIN
    IF(NOT EXISTS(SELECT * FROM NHACUNGCAP WHERE MANCC = @MANCC)) 
        RETURN -1
    IF(EXISTS(SELECT * FROM NHACUNGCAP WHERE MANCC = @MANCC))
    UPDATE NHACUNGCAP SET TENNCC = @TENNCC, SDT = @SDT, DIACHI = @DIACHI, EMAIL = @EMAIL 
    WHERE MANCC = @MANCC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUANHANVIEN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_SUANHANVIEN]
    @MANV   CHAR(15),
    @TENNV  NVARCHAR(50),
    @SDT    VARCHAR(15),
    @DIACHI NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE NHANVIEN
    SET TENNV=@TENNV, SDT=@SDT, DIACHI=@DIACHI
    WHERE MANV=@MANV;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUAPHIEUNHAPKHO]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_SUAPHIEUNHAPKHO]
  @MAPHIEUNHAP CHAR(15), @MASP CHAR(15), @MANCC CHAR(15), @MANV CHAR(15),
  @NGAYLAP DATETIME, @THUEVAT FLOAT
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE PHIEUNHAPKHO
  SET MASP=@MASP, MANCC=@MANCC, MANV=@MANV, NGAYLAP=@NGAYLAP, THUEVAT=@THUEVAT
  WHERE MAPHIEUNHAP=@MAPHIEUNHAP;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUATAIKHOAN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_SUATAIKHOAN]
    @MATAIKHOAN CHAR(15),
    @USERNAME   VARCHAR(50),
    @PASS       VARCHAR(200),
    @QUYEN      INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE TAIKHOAN
    SET USERNAME = @USERNAME, PASS = @PASS, QUYEN = @QUYEN
    WHERE MATAIKHOAN = @MATAIKHOAN;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUATT]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_SUATT](
    @MATHANHTOAN CHAR(15),
    @PHUONGTHUC NVARCHAR(50),
    @TRANGTHAI NVARCHAR(50))
AS
BEGIN
    IF(NOT EXISTS(SELECT * FROM THANHTOAN WHERE MATHANHTOAN= @MATHANHTOAN)) 
        RETURN -1
    IF(EXISTS(SELECT * FROM THANHTOAN WHERE MATHANHTOAN= @MATHANHTOAN))
    UPDATE THANHTOAN SET PHUONGTHUC = @PHUONGTHUC, TRANGTHAI = @TRANGTHAI
    WHERE MATHANHTOAN = @MATHANHTOAN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMCHITIETNHAP]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_THEMCHITIETNHAP]
  @MAPHIEUNHAP CHAR(15), @MASP CHAR(15), @SOLUONG INT,
  @DONGIANHAP FLOAT, @NGAYNHAPKHO DATETIME
AS
BEGIN
  SET NOCOUNT ON;
  DECLARE @THANHTIEN FLOAT = @SOLUONG * @DONGIANHAP;
  INSERT INTO CHITIETNHAP(MAPHIEUNHAP, MASP, SOLUONG, DONGIANHAP, THANHTIEN, NGAYNHAPKHO)
  VALUES(@MAPHIEUNHAP, @MASP, @SOLUONG, @DONGIANHAP, @THANHTIEN, @NGAYNHAPKHO);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMKM]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_THEMKM]
    @MAKM CHAR(15),
    @TENKM NVARCHAR(300),
    @MASP CHAR(15),
    @NGAYBATDAU DATE,
    @NGAYKETTHUC DATE
AS
BEGIN
    IF(EXISTS(SELECT * FROM KHUYENMAI WHERE MAKM= @MAKM)) 
        RETURN -1
    IF(NOT EXISTS(SELECT * FROM KHUYENMAI WHERE MAKM= @MAKM))
        INSERT INTO KHUYENMAI VALUES (@MAKM, @TENKM, @MASP, @NGAYBATDAU, @NGAYKETTHUC)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMKH]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_THEMKH]
    @MAKH CHAR(15),
    @TENKH NVARCHAR(100),
    @SDT CHAR(10),
    @DIACHI NVARCHAR(300)
AS
BEGIN
    IF(EXISTS(SELECT * FROM KHACHHANG K WHERE K.MAKH = @MAKH)) 
        RETURN -1
    IF(NOT EXISTS(SELECT * FROM KHACHHANG K WHERE K.MAKH = @MAKH))
        INSERT INTO KHACHHANG VALUES (@MAKH, @TENKH, @SDT, @DIACHI)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMNCC]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_THEMNCC]
    @MANCC CHAR(15),
    @TENNCC NVARCHAR(300),
    @DIACHI NVARCHAR(500),
    @SDT VARCHAR(12),
    @EMAIL NVARCHAR(320)
AS
BEGIN
    IF(EXISTS(SELECT * FROM NHACUNGCAP WHERE MANCC = @MANCC)) 
        RETURN -1
    IF(NOT EXISTS(SELECT * FROM NHACUNGCAP WHERE MANCC = @MANCC))
        INSERT INTO NHACUNGCAP VALUES (@MANCC, @TENNCC, @DIACHI, @SDT, @EMAIL)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMNHANVIEN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_THEMNHANVIEN]
    @MANV   CHAR(15),
    @TENNV  NVARCHAR(50),
    @SDT    VARCHAR(15),
    @DIACHI NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO NHANVIEN(MANV, TENNV, SDT, DIACHI)
    VALUES(@MANV, @TENNV, @SDT, @DIACHI);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMPHIEUNHAPKHO]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_THEMPHIEUNHAPKHO]
  @MAPHIEUNHAP CHAR(15), @MASP CHAR(15), @MANCC CHAR(15), @MANV CHAR(15),
  @NGAYLAP DATETIME, @THUEVAT FLOAT
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO PHIEUNHAPKHO(MAPHIEUNHAP, MASP, MANCC, MANV, NGAYLAP, THUEVAT)
  VALUES(@MAPHIEUNHAP, @MASP, @MANCC, @MANV, @NGAYLAP, @THUEVAT);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMTAIKHOAN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_THEMTAIKHOAN]
    @MATAIKHOAN CHAR(15),
    @USERNAME   VARCHAR(50),
    @PASS       VARCHAR(200),
    @QUYEN      INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO TAIKHOAN (MATAIKHOAN, USERNAME, PASS, QUYEN)
    VALUES (@MATAIKHOAN, @USERNAME, @PASS, @QUYEN);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMTT]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_THEMTT]
    @MaThanhToan     CHAR(15),
    @MaHDBan         CHAR(15),
    @PhuongThuc      NVARCHAR(50),
    @SoTienThanhToan FLOAT,   -- Số tiền gốc
    @NgayThanhToan   DATETIME,
    @TrangThai       NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Nếu mã thanh toán đã tồn tại → trả về -1
    IF EXISTS (SELECT 1 FROM dbo.THANHTOAN WHERE MATHANHTOAN = @MaThanhToan)
        RETURN -1;

    -- Lấy thuế VAT từ hóa đơn
    DECLARE @ThueVAT FLOAT;

    SELECT @ThueVAT = THUEVAT
    FROM HOADONBAN
    WHERE MAHDBAN = @MaHDBan;

    -- Cộng VAT vào số tiền thanh toán
    SET @SoTienThanhToan = @SoTienThanhToan;

    INSERT INTO dbo.THANHTOAN
        (MATHANHTOAN, MAHDBAN, PHUONGTHUC, SOTIENTHANHTOAN, NGAYTHANHTOAN, TRANGTHAI)
    VALUES
        (@MaThanhToan, @MaHDBan, @PhuongThuc, @SoTienThanhToan, @NgayThanhToan, @TrangThai);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOACHITIETNHAP]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_XOACHITIETNHAP] @MAPHIEUNHAP CHAR(15), @MASP CHAR(15)
AS
BEGIN
  SET NOCOUNT ON;
  DELETE FROM CHITIETNHAP WHERE MAPHIEUNHAP=@MAPHIEUNHAP AND MASP=@MASP;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOAKM]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_XOAKM](@MAKM CHAR(15))
AS
BEGIN
    IF(NOT EXISTS(SELECT * FROM KHUYENMAI WHERE MAKM= @MAKM)) 
        RETURN -1
    IF(EXISTS(SELECT * FROM KHUYENMAI WHERE MAKM= @MAKM))
    DELETE FROM KHUYENMAI
    WHERE MAKM = @MAKM
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOAKH]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_XOAKH](@MAKH CHAR(15))
AS
BEGIN
    IF(NOT EXISTS(SELECT * FROM KHACHHANG K WHERE K.MAKH = @MAKH)) 
        RETURN -1
    IF(EXISTS(SELECT * FROM KHACHHANG K WHERE K.MAKH = @MAKH))
    DELETE FROM KHACHHANG
    WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOANCC]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_XOANCC](@MANCC CHAR(15))
AS
BEGIN
    IF(NOT EXISTS(SELECT * FROM NHACUNGCAP WHERE MANCC = @MANCC)) 
        RETURN -1
    IF(EXISTS(SELECT * FROM NHACUNGCAP WHERE MANCC = @MANCC))
    DELETE FROM NHACUNGCAP
    WHERE MANCC = @MANCC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOANHANVIEN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_XOANHANVIEN]
    @MANV CHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM NHANVIEN WHERE MANV=@MANV;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOAPHIEUNHAPKHO]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_XOAPHIEUNHAPKHO] @MAPHIEUNHAP CHAR(15)
AS
BEGIN
  SET NOCOUNT ON;
  DELETE FROM PHIEUNHAPKHO WHERE MAPHIEUNHAP=@MAPHIEUNHAP;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOATAIKHOAN]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_XOATAIKHOAN]
    @MATAIKHOAN CHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM TAIKHOAN WHERE MATAIKHOAN = @MATAIKHOAN;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOATT]    Script Date: 5/2/2026 12:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_XOATT](@MATHANHTOAN CHAR(15))
AS
BEGIN
    IF(NOT EXISTS(SELECT * FROM THANHTOAN WHERE MATHANHTOAN= @MATHANHTOAN)) 
        RETURN -1
    IF(EXISTS(SELECT * FROM THANHTOAN WHERE MATHANHTOAN= @MATHANHTOAN))
    DELETE FROM THANHTOAN
    WHERE MATHANHTOAN = @MATHANHTOAN
END
GO
USE [master]
GO
